@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;900&display=swap');

:root {
  --primary-color: #606d5d;
  --secondary-color: #e4e6c3;
  --light-color: #f7f7f2;
  --dark-color: #261c15;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  line-height: 4ch;
  letter-spacing: 0.1ch;
}

body {
  font-family: 'Comfortaa', sans-serif;
}

button {
  border: none;
  background: none;
}

.btn {
  cursor: pointer;
  font-family: 'Comfortaa', sans-serif;
}

.btn-primary {
  background-color: var(--primary-color);
  /* border: 2px solid var(--dark-color); */
  padding: 0.75rem 1.5rem;
  color: var(--light-color);
  border: 2px solid var(--primary-color);
  transition: all 0.25s;
}

.btn-primary:hover {
  box-sizing: border-box;
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 2px solid var(--dark-color);
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
  backdrop-filter: blur(5px);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

.nav ul {
  display: flex;
  list-style-type: none;
}

.nav ul li {
  margin: 0.5rem 1.5rem;
}

.nav h1 {
  letter-spacing: 0.5ch;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: -1;
  transition: background-image 2s;
  margin-bottom: 2rem;
}

#about .photo-container {
  position: relative;
  width: 480px;
  height: 360px;
  background-color: var(--secondary-color);
  margin: 2rem;
}

#photographer-image {
  background-image: url(img/photographer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 5%;
  left: 20%;
  width: 90%;
  height: 90%;
}

#about .container {
  display: flex;
  margin-bottom: 2rem;
}

#about .container div {
  flex: 1 0 0;
}

#about .description {
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
}

#about .description > * {
  margin: 1rem;
}

#categories {
  background-color: var(--light-color);
}

#categories .container {
  padding: 5rem;
}

#categories .categories {
  display: flex;
}

#categories .category {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 33%;
  height: 320px;
  overflow: hidden;
}

#categories .category img {
  flex-shrink: 0;
  min-width: 100%;
  height: 100%;
}

h1 {
  margin: 1rem 0;
  letter-spacing: 0.1ch;
}
